### Linear Regression with Non-numeriacl Data

In [19]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression

In [29]:
cd D:\Courses\AI\Machine learning\My Courses\ML\My course\Day4\Regression

D:\Courses\AI\Machine learning\My Courses\ML\My course\Day4\Regression

In [30]:
df= pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [31]:
df.shape

(50, 5)

In [32]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

#### Get the regression variables

In [33]:
y = df['Profit']
X = df.drop(['Profit'], axis=1)

In [34]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [35]:
### One Hot Encoding for the State column
cls = ColumnTransformer( transformers= [ ( 'encoder', OneHotEncoder(), [3]  )  ] , remainder='passthrough'   )
X = cls.fit_transform(X)

In [36]:
R= pd.DataFrame(X)
R.head()

     0    1    2          3          4          5
0  0.0  0.0  1.0  165349.20  136897.80  471784.10
1  1.0  0.0  0.0  162597.70  151377.59  443898.53
2  0.0  1.0  0.0  153441.51  101145.55  407934.54
3  0.0  0.0  1.0  144372.41  118671.85  383199.62
4  0.0  1.0  0.0  142107.34   91391.77  366168.42

In [37]:
### Split the data into train and test sets
X_train,X_test,y_train, y_test  =train_test_split(X,y, test_size=0.22, random_state=10)

In [38]:
reg = LinearRegression()
reg.fit(X_train,y_train)
y_pred = reg.predict(X_test)

In [39]:
#Calculating the R squared value
r2_score(y_test, y_pred)

0.9898857680187743

In [40]:
#Calculating the MAE Error
mean_absolute_error(y_test, y_pred)

2918.025380161533

In [41]:
#Calculating the MSE Error
mean_squared_error(y_test, y_pred)

17341206.139763437

In [42]:
reg.predict([[0.0, 0.0, 1.0, 165349.2, 136897.8, 471784.1]])

array([190651.82244971])