### Python Basics for Machine Learning
1. Environments  Anaconda or Colab
2. What is The program and what programing languages Do.
3. What is the structure of the python programs and types of python files.
4. O/P and I/P statements in python
5. Variables and Operators in python
6. Control Structures in python
7. Data structures in python (Lists, Tuple, Dictionaries and Data Frames in Python)
8. Working with files with different Extensions
9. Functions in python
10. Object Oriented in Python

## 1. Environments  Anaconda or Colab
#### There are 4 types of Environments in Colab 
1. code cells to Wrire code to be excuted
2. Markdown cells and used for body-text, and contain markdown, as defined in GitHub-flavored markdown
3. A raw NB convert cell is defined as content that should be included unmodified in nbconvert output. 
4. Heading Cells for making headings

### Get the python version

In [1]:
import sys                
sys.version_info
print(sys.version)

3.9.16 (main, Jan 11 2023, 16:16:36) [MSC v.1916 64 bit (AMD64)]

### List all libraries in python (note book or cmd)

In [2]:
pip list

Package                           Version
--------------------------------- --------------
absl-py                           1.3.0
aiohttp                           3.8.3
aiosignal                         1.2.0
anyio                             3.5.0
appdirs                           1.4.4
argon2-cffi                       20.1.0
astor                             0.8.1
asttokens                         2.0.5
astunparse                        1.6.3
async-timeout                     4.0.2
attrs                             22.1.0
backcall                          0.2.0
bayesian-optimization             1.4.3
beautifulsoup4                    4.12.2
bleach                            4.1.0
blinker                           1.4
Bottleneck                        1.3.5
brotlipy                          0.7.0
cachetools                        4.2.2
certifi                           2023.7.22
cffi                              1.15.1
charset-normalizer                2.0.4
click                             8.0.4
cloudpickle                       2.2.1
colorama                          0.4.6
comm                              0.1.2
contourpy                         1.1.0
cryptography                      38.0.4
cycler                            0.11.0
debugpy                           1.6.7
decorator                         5.1.1
defusedxml                        0.7.1
entrypoints                       0.4
executing                         0.8.3
fastjsonschema                    2.16.2
flatbuffers                       20210226132247
flit_core                         3.6.0
fonttools                         4.42.1
frozenlist                        1.3.3
future                            0.18.3
gast                              0.4.0
google-auth                       2.6.0
google-auth-oauthlib              0.4.1
google-pasta                      0.2.0
grpcio                            1.42.0
h5py                              3.7.0
hyperopt                          0.2.7
idna                              3.4
imbalanced-learn                  0.11.0
importlib-metadata                4.11.3
importlib-resources               6.0.1
ipykernel                         6.25.0
ipython                           8.12.2
ipython-genutils                  0.2.0
jedi                              0.18.1
Jinja2                            3.1.2
joblib                            1.2.0
jsonschema                        4.17.3
jupyter_client                    7.4.9
jupyter-contrib-core              0.4.0
jupyter-contrib-nbextensions      0.7.0
jupyter_core                      5.3.0
jupyter-highlight-selected-word   0.2.0
jupyter-latex-envs                1.4.6
jupyter-nbextensions-configurator 0.6.1
jupyter-server                    1.13.5
jupyterlab-pygments               0.2.2
Keras-Preprocessing               1.1.2
kiwisolver                        1.4.5
lazylearn                         0.0.4
lazypredict                       0.2.12
lightgbm                          4.0.0
lxml                              4.9.2
Markdown                          3.4.1
MarkupSafe                        2.1.1
matplotlib                        3.7.2
matplotlib-inline                 0.1.6
mistune                           3.0.1
mkl-fft                           1.3.1
mkl-random                        1.2.2
mkl-service                       2.4.0
multidict                         6.0.2
nbclassic                         0.5.5
nbclient                          0.8.0
nbconvert                         7.8.0
nbformat                          5.7.0
nest-asyncio                      1.5.6
networkx                          3.1
notebook                          6.5.4
notebook_shim                     0.2.2
numexpr                           2.8.4
numpy                             1.23.5
oauthlib                          3.2.1
opt-einsum                        3.3.0
packaging                         22.0
pandas                            2.0.3
pandocfilters                     1.5.0
parso                             0.8.3
pickleshare                       0.7.5
Pillow                            10.0.0
pip                               22.3.1
platformdirs                      3.10.0
pooch                             1.4.0
prometheus-client                 0.14.1
prompt-toolkit                    3.0.36
protobuf                          3.17.2
psutil                            5.9.0
pure-eval                         0.2.2
py4j                              0.10.9.7
pyasn1                            0.4.8
pyasn1-modules                    0.2.8
pycparser                         2.21
Pygments                          2.15.1
PyJWT                             2.4.0
pyOpenSSL                         22.0.0
pyparsing                         3.0.9
pyrsistent                        0.18.0
PySocks                           1.7.1
python-dateutil                   2.8.2
pytz                              2022.7
pywin32                           305.1
pywinpty                          2.0.10
PyYAML                            6.0
pyzmq                             23.2.0
requests                          2.28.1
requests-oauthlib                 1.3.0
rsa                               4.7.2
scikit-learn                      1.3.0
scipy                             1.10.0
seaborn                           0.12.2
Send2Trash                        1.8.0
setuptools                        65.6.3
six                               1.16.0
sniffio                           1.2.0
soupsieve                         2.5
stack-data                        0.2.0
tensorboard                       2.6.0
tensorboard-data-server           0.6.1
tensorboard-plugin-wit            1.8.1
tensorflow                        2.6.0
tensorflow-estimator              2.6.0
termcolor                         2.1.0
terminado                         0.17.1
testpath                          0.6.0
threadpoolctl                     2.2.0
tinycss2                          1.2.1
tornado                           6.3.2
tqdm                              4.66.1
traitlets                         5.7.1
typing_extensions                 4.4.0
tzdata                            2023.3
urllib3                           1.26.14
wcwidth                           0.2.5
webencodings                      0.5.1
websocket-client                  0.58.0
Werkzeug                          2.2.2
wheel                             0.35.1
win-inet-pton                     1.1.0
wincertstore                      0.2
wrapt                             1.14.1
xgboost                           1.7.6
yarl                              1.8.1
zipp                              3.11.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
conda info

### Import a python library and print its version

In [3]:
import pandas as pd
import numpy as n
print(n.__version__)

1.23.5

### Program in Programming Languages
1. Program is a sequence of instructions written in a programming language to solve a specific Task.
2. We can write .py programs or .ipynb notebooks
3. O/P statement : print( )  , i/P statement input( )
4. Variables in python :Python has no command for declaring a variable. It is created the moment you first assign a value to it.
5. Operators and Functions: Performing processing of the given input. This processing depends on the input type.

### Built-in Datatypes in Python
1. Text Type:  str
2. Numeric Types:	int, float, complex
3. Sequence Types:	list, tuple, range
4. Mapping Type:	dict
5. Set Types:	        set, frozenset
6. Boolean Type:	bool
7. Binary Types:	bytes, bytearray, memoryview

### Print Statement

In [4]:
print ("Welcome to the second session in AI training" ,  "Ali " , "mostafa")

Welcome to the second session in AI training Ali  mostafa

### Concatenation in Print

In [5]:
print ("Welcome to the second session in AI training" +  "Ali ")

Welcome to the second session in AI trainingAli

### Repeatting String

In [6]:
print ("Welcome to the second session in AI training" * 3)

Welcome to the second session in AI trainingWelcome to the second session in AI trainingWelcome to the second session in AI training

### Declaring Scalary Variable

In [7]:
x=10

In [8]:
print(x)

10

In [9]:
type (x)

int

In [10]:
y=10.33

In [11]:
type(y)

float

In [12]:
R= "Ali"

In [13]:
type(R)

str

In [14]:
print(x,y,R)

10 10.33 Ali

In [15]:
print(x+y)

20.33

In [16]:
print(x+y, R)

20.33 Ali

In [17]:
A = 5j+3

In [18]:
type(A)

complex

### There are four collection data types in the Python programming language:

1. List is a collection which is unrdered and changeable. Allows duplicate members.
2. Tuple is a collection which is unrdered and unchangeable. Allows duplicate members.
3. Set is a collection which is ordered, unchangeable*, and unindexed. No duplicate members.
4. Dictionary is a collection which is ordered** and changeable. No duplicate members.

### Lists

In [19]:
List1= [50,20,30,40]

In [20]:
List1

[50, 20, 30, 40]

In [21]:
type(List1)

list

In [22]:
List2=[10, "A",20, "B"]

In [23]:
type(List2)

list

### Opetaions between list
Concatenation

In [24]:
List1+List2

[50, 20, 30, 40, 10, 'A', 20, 'B']

In [25]:
List1-List2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

Extend a list by a list

In [ ]:
List1.extend(List2)

In [ ]:
List1

In [ ]:
List3=[1,2,3,4]

In [ ]:
List1

In [ ]:
List3

### Add Element to a list by value at the last index

In [ ]:
List1.append(5000)

In [ ]:
List1

### Add Element to a list by index

In [26]:
List1.insert(0,99)

In [27]:
List1

[99, 50, 20, 30, 40]

In [28]:
List1.insert(1,9955)

In [29]:
List1

[99, 9955, 50, 20, 30, 40]

## Remove Element from a list by its value

In [30]:
List1.remove(40)

In [31]:
List1

[99, 9955, 50, 20, 30]

In [32]:
len(List1)

5

## Remove Element from a list by its index

In [33]:
del(List1[1])

In [34]:
List1

[99, 50, 20, 30]

## Tuples

In [35]:
Tuple = ("apple", "banana", "cherry")

Convert tuple to list for modification purpose

In [36]:
Tuple = list(Tuple)

In [37]:
Tuple

['apple', 'banana', 'cherry']

In [38]:
Tuple.append("Ali")

In [39]:
Tuple

['apple', 'banana', 'cherry', 'Ali']

Convert list to tuple for modification purpose

In [40]:
Tuple= tuple(Tuple)

In [41]:
Tuple

('apple', 'banana', 'cherry', 'Ali')

###  sets (No repetition , arranged)

In [42]:
set = {3,3,3,1,2,7}

In [43]:
type(set)

set

In [44]:
set

{1, 2, 3, 7}

In [45]:
List5=[10,10,50,50,50]

In [46]:
List5

[10, 10, 50, 50, 50]

In [47]:
set = {1,2,3,3,3}

In [48]:
set

{1, 2, 3}

In [49]:
set={10,10,10,10}

In [50]:
set

{10}

In [51]:
set={"Ali","Ali","Ahmed"}

In [52]:
set

{'Ahmed', 'Ali'}

In [53]:
set={"B","A","C"}

In [54]:
set

{'A', 'B', 'C'}

In [55]:
set.add("K")

In [56]:
set

{'A', 'B', 'C', 'K'}

In [57]:
print(set)

{'C', 'B', 'A', 'K'}

### Dictionaries

In [58]:
cars = {
  "brand": "Ford",
  "electric": False,
  "year": 2005,
  "colors": ["red", "white", "blue"]
}

In [59]:
cars

{'brand': 'Ford',
 'electric': False,
 'year': 2005,
 'colors': ['red', 'white', 'blue']}

In [60]:
print(cars)

{'brand': 'Ford', 'electric': False, 'year': 2005, 'colors': ['red', 'white', 'blue']}

In [61]:
print(cars["brand"] , cars ["colors"])

Ford ['red', 'white', 'blue']

In [62]:
set1 ={5, 40 , 8}

In [63]:
set1

{5, 8, 40}

In [64]:
set1={"A", "a","B"}

In [65]:
set1

{'A', 'B', 'a'}

In [66]:
cars1 = {
  "brand": "Toyota",
  "electric": False,
  "year": 2005,
  "colors": ("red", "white", "blue") 
}

In [67]:
cars1

{'brand': 'Toyota',
 'electric': False,
 'year': 2005,
 'colors': ('red', 'white', 'blue')}

In [68]:
print(cars["colors"])

['red', 'white', 'blue']

In [69]:
len(List1)

4

In [70]:
len(Tuple)

4

In [71]:
len(set)

4

In [72]:
len(cars1)

4

### Operators 
Symbolic operations that has no libraries (+ - * / %)

In [73]:
x,y=10,20

In [74]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

30
-10
200
0.5
10

In [75]:
x,y=5,3
print(x**y)

125

In [77]:
print(x//y)

1

In [78]:
print(x/y)

1.6666666666666667

In [79]:
print(x//y)

1

In [80]:
x+=3

In [81]:
x

8

In [82]:
x*=2

In [83]:
x

16

In [84]:
x>y

True

In [85]:
x<y

False

In [86]:
x==y

False

In [87]:
x=y

In [88]:
x

3

In [89]:
y

3

In [90]:
x==y

True

In [91]:
x>y  and  x>5

False

In [92]:
x>y  or  x>5

False

In [93]:
x=10

In [94]:
x>y  and  x>5

True

In [95]:
not x>y

False

In [96]:
x is y

False

In [97]:
x

10

In [98]:
y

3

### Control Structures in python
1. if statement
2. loops

In [101]:
if (x>y):   print(x)

10

In [102]:
x=2

In [104]:
if (x>y):
    print(x)

In [105]:
if (x>y):
    print(x)
else : print (x*2)

4

In [106]:
if (x>1):
    print(x)
elif (x>3):
    print(x+3)
elif (x>50):
    print(x+50)

2

In [107]:
x=90

In [108]:
if (x>1 and x<10):
    print(x)
elif (x>3):
    print(x+3)
elif (x>50):
    print(x+50)

93

In [109]:
x,y,z=10,20,30

In [112]:
if (x>y and x<z) : print( "max is:", x)
elif (y>x and y>z) :  print( "max is:", y)
else : print( "max is:", z)

max is: 30

In [116]:
for i in range (10,20,2) :
    print (i*2)

20
24
28
32
36

In [117]:
n=5
fact =1
for i  in range (1,n+1):
    fact=fact*i
print (fact)

120

In [119]:
n=5
fact =1
i=1
while (i<=n):
    fact=fact*i
    i+=1
print (fact)

120

### Find The minimum among Three number

In [ ]:
x,y,z = 5,14,2
if   (x<=y and x<=z) :
    print("min value is:", x)
elif (y<x and y<z): 
    print("min value is:", y)
else : 
    print("min value is:", z)

### Write the following python programs 
1. a program that searches for a given in name in a list of students names and determines whether this name exists or not.
2. a program that finds the frequency of a given name in a list of students names.
3. a program that finds the number of even numbers in a given list of numbers.

In [123]:
#The linear Search (The searched name is the last one)
x=("Ali", "Alaa", "Mostafa", "Alaa", "Mahmoud","Alaa")
y="Alaa"
index =-1
for i in range (0,len(x)):  
    if x[i]==y: index=i
if index ==-1 : print("The Data not found")
else: print("The Data Found at:", index+1)

The Data Found at: 6

In [124]:
#The linear Search (The searched name is the first one)
x=("Ali", "alaa", "Mostafa", "alaa", "Mahmoud","alaa")
y="ALAA"
index =-1
for i in range (0,len(x)):  
    if x[i].lower()==y.lower(): 
        index=i
        break
if index ==-1 : print("The Data not found")
else: print("The Data Found at:", index+1)

The Data Found at: 2

In [125]:
#word Frequency
x=("Ali", "Alaa", "Mostafa", "Alaa", "Mahmoud","Alaa")
y="Alaa"
counter=0
for i in range (0,len(x)):  
    if x[i]==y :counter=counter+1
print("The Word is Repeated:", counter)

The Word is Repeated: 3

In [126]:
#Sum of all numbers
x=(10,22,55,97,81,70)
sum=0
for i in x:
    sum+=i
print ("The Sum is: ", sum)
print("The Average is: ", sum/len(x) )

The Sum is:  335
The Average is:  55.833333333333336

In [128]:
#Sum and count of all even numbers
x=(10,20,55,97,81,70)
sum=0
counter_of_even_numbers=0
for i in x:
    if i%2==0:  
        sum+=i
        counter_of_even_numbers=counter_of_even_numbers+1
print ("The Sum is: ", sum)
print ("The count of even numbers is: ", counter_of_even_numbers)
print("The Average is: ", sum/counter_of_even_numbers )

The Sum is:  100
The count of even numbers is:  3
The Average is:  33.333333333333336

In [129]:
#Sum and count of all odd numbers
x=(10,20,55,97,81,70)
sum=0
counter_of_odd_numbers=0
for i in x:
     if i%2!=0:  
        sum+=i
        counter_of_odd_numbers=counter_of_odd_numbers+1
print ("The Sum is: ", sum)
print ("The count of even numbers is: ", counter_of_odd_numbers)
print("The Average is: ", sum/counter_of_odd_numbers )

The Sum is:  233
The count of even numbers is:  3
The Average is:  77.66666666666667

### Function in python

In [1]:
# function definition
def sum (x,y):       
    return x-y , x+y  , x*y

In [5]:
sum(5,6)

(-1, 11, 30)

In [6]:
# function call
a,b,c= sum(5,6)

In [7]:
a ,b, c

(-1, 11, 30)

In [8]:
# function call by passing it as a parameter to another function
print("sum=",sum(5,6))

sum= (-1, 11, 30)

In [9]:
# function call as a  part of an expression
a,b,c=sum(5,6)
print(a,b,c)

-1 11 30

### Function returns more than a value

In [10]:
def sum_sub (x,y):       
    return x+y, x-y

In [11]:
sum_sub(5,6)

(11, -1)

In [12]:
add,sub=sum_sub(5,6)
print(add, sub)

11 -1

In [13]:
def get_max_value (x, y, z):
    if x>=y and x>=z: return x
    elif  y>x and y>z: return y
    else: return z

In [14]:
get_max_value(5,8,2)

8

In [15]:
#Linear Search Using Function
def search (names,name):
    index =-1
    for i in range (0,len(names)):  
        if names[i].upper()==name.upper(): 
            index=i
            break
    return index

In [19]:
students=["omar", "tamer","Ali","Ahmed", "Ali","Ayamn"]
name="ali"
search(students, name)

2

In [17]:
if search(students,name)==-1: print("This name doesnot exist in the students")
else : print("This name Exists at:", search(students,name))

This name Exists at: 2

In [21]:
#Count the ferequency of each name
def count (names,name):
    count =0
    for i in range (0,len(names)):  
        if names[i].upper()==name.upper(): 
            count+=1
    return count

In [26]:
students=["omar", "tamer","Ali","Ahmed", "Ali","Ayamn"]
name="mostafa"
count(students, name)

0

In [27]:
### Get all names containing  specific leteer
def get_names(names,letter):
    containing = []
    for x in names:
           if letter.upper() in x.upper():
                 containing.append(x)
    return containing

In [28]:
students=["Omar", "tamer","Ali","Ahmed", "Ali","Youssef"]
get_names(students,"r")

['Omar', 'tamer']

In [29]:
k=["Omar", "tamer","Ali","Ahmed", "Ali","Youssef"]
get_names(k,"o")

['Omar', 'Youssef']

In [30]:
### Factorial without recurssion
def factorial(x):
    fact =1
    for i in range(1,x+1):
        fact*=i
    return fact

In [31]:
print("The Fcatorial Value is:",factorial (5))

The Fcatorial Value is: 120

In [32]:
def get_max_value (x, y, z):
    if x>=y and x>=z: return x
    elif  y>x and y>z: return y
    else: return z
print("The Maximum Value is:",get_max_value (5,10,8))

The Maximum Value is: 10

In [33]:
def search (names,name):
    index =-1
    for i in range (0,len(names)):  
        if names[i]==name: index=i
    return index
x=("Ali", "Alaa", "Mostafa", "Alaa", "Mahmoud","Alaa")
y="Alaa"
if search(x,y) ==-1 : print("The Data not found")
else: print("The Data Found at:", search(x,y)+1)

The Data Found at: 6

In [34]:
def get_sum(x):
    sum=0
    for i in x:
        sum+=i
    return sum
x=(10,22,55,97,81,70)
print ("The Sum is: ", get_sum(x))
print("The Average is: ", get_sum(x)/len(x) )

The Sum is:  335
The Average is:  55.833333333333336

In [37]:
# Function returns a dictionary conatining the names and their lengths
def get_names_lengths(names):
    lengths=[]
    for x in names:
        lengths.append(len(x))
    result ={"names": names, "length":lengths}
    return result

In [38]:
y=["Ahmed", "Ali", "Alaa","Mahmoud","youssef"]
print("Names lengths are: ", get_names_lengths(y))

Names lengths are:  {'names': ['Ahmed', 'Ali', 'Alaa', 'Mahmoud', 'youssef'], 'length': [5, 3, 4, 7, 7]}

### Recurssive Functions

In [39]:
#Recurrsion
def factorial(x):
         if x<=1: return 1
         else : return x* factorial(x-1)
factorial(5)

120

In [40]:
#Recurrsion
def power (x,y):
    if y==0 :return 1
    else: return x*power(x,y-1)
power(5,3)

125

### Functions with default parameters

In [41]:
### Write a function that adds up to 4 different numbers
def add (a,b,c=0,d=0):
    return (a+b+c+d)

In [42]:
add(5,5)

10

In [43]:
add(5,6,7)

18

In [44]:
add(5,6,7,8)

26

### lampda functions in python
1. A lambda function is a small anonymous function.
2. A lambda function can take any number of arguments, but can only have one expression.

In [47]:
x = lambda a : a + 10
print(x(5))

15

In [48]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [50]:
def myfunc(n):
    return lambda a : a * n

In [51]:
mydoubler = myfunc(2)
print(mydoubler(11))

22

In [54]:
#Get The Roots of  a quadratic equation
import math as m
def get_roots(a,b,c):
    d=(b**2)-(4*a*c)
    if d==0:
        x1=-b/(2*a)
        x2=-b/(2*a)
    elif d<0:
        R = -b/(2*a)
        I =round(m.sqrt(abs(d))/(2*a),2)
        x1=complex(R,I)
        x2=complex(R,-I)
    else :
        x1 = (-b + m.sqrt(d)) / (2*a)
        x2 = (-b - m.sqrt(d)) / (2*a)
    return x1,x2

In [56]:
get_roots (1,0,9)

(3j, -3j)

### Built in Functions for strings

### string Function 
1. Case function (capitalize, lower , upper )

In [57]:
x="omar"
print(x)

omar

In [58]:
type(x)

str

In [59]:
y=""

In [60]:
y

''

In [61]:
y.upper()

''

In [62]:
x.upper()

'OMAR'

In [63]:
x.capitalize()

'Omar'

In [64]:
x.upper()

'OMAR'

In [65]:
x.lower()

'omar'

In [66]:
x="r"
x.isalpha()

True

In [67]:
x="9"
x.isalpha()

False

In [72]:
x="9"
x.isdigit()

True

In [68]:
type(x)

str

In [69]:
A= "20 Ali Mosta"
B= "15 ali"

In [70]:
A+B

'20 Ali Mosta15 ali'

In [71]:
A*3

'20 Ali Mosta20 Ali Mosta20 Ali Mosta'

In [73]:
x="omar"
len(x)

4

#### Access chracters in strings

In [74]:
s1='String'
print(s1)

String

In [75]:
s2="Hello Python"
print(s2)

Hello Python

In [76]:
s1[0]

'S'

In [77]:
s1[2]

'r'

In [78]:
s1[-1]

'g'

In [79]:
s1[:-1]

'Strin'

In [80]:
s1[:3]

'Str'

In [81]:
s1[0:]

'String'

In [82]:
s1[2:]

'ring'

In [87]:
sss='''python 
"Hello World" '''
print(sss)

python
"Hello World"

In [88]:
print('this is a long string')

this is a long string

In [92]:
raw ='www:\\SVN_CODE\V900R17C00_TRP\omu\src'
print(raw)

www:\SVN_CODE\V900R17C00_TRP\omu\src

In [93]:
rawStr = r'www:\\SVN_CODE\V900R17C00_TRP\omu\src'
print(rawStr)

www:\\SVN_CODE\V900R17C00_TRP\omu\src

In [95]:
print("%c" % 97)

a

In [96]:
print("%d" % 98)

98

In [97]:
print("%i" % 98)

98

In [99]:
v=9

In [100]:
print("%f" % v)

9.000000

In [109]:
print("%5.3f" % 254444545.5655554)

254444545.566

In [110]:
print("%100.4f" % 2454549797977878787878.5884545455545454545457878)

                                                                         2454549797977878691840.0000

In [111]:
s = 'I' + ' '+ 'want'+ ' ' + 'Python' + '.'
print(s)

I want Python.

In [112]:
ss='I want Python '*3
print(ss)

I want Python I want Python I want Python

In [113]:
del(s)

In [114]:
s

NameError: name 's' is not defined

In [117]:
 def check_password(password):
        numberofalphadigits=0
        numberofnumberdigits=0
        numberofupperletters=0
        numberofspecialcharacters=0
        for i in password:
            if i.isalpha():  numberofalphadigits+=1
            if i.isdigit():  numberofnumberdigits+=1
            if i.isupper():  numberofupperletters+=1
            if i in "@#_$":  numberofspecialcharacters+=1
        if (len(password)>13 and numberofnumberdigits>2 and numberofalphadigits>10 and numberofspecialcharacters>0 and numberofupperletters>0  ): return True
        else : return False

In [119]:
check_password('Ahhjhhmedali15234@')

True

### Built in Functions for lists

In [124]:
#empty
L3=[]
L3

[]

In [125]:
#2D List
L4=[1,[2,3],4]
L4

[1, [2, 3], 4]

In [131]:
L5=[99,"Bottle of beer",["on","the","wall"]]
L5

[99, 'Bottle of beer', ['on', 'the', 'wall']]

#### Access Elements in the list using Index

In [127]:
print("element of index 0 is: ",L5[0])

element of index 0 is:  99

In [128]:
print("element of index 0 is: ",L5[1])

element of index 0 is:  Bottle of beer

In [129]:
print("element of index 0 is: ",L5[2])

element of index 0 is:  ['on', 'the', 'wall']

In [132]:
L5[2][2]

'wall'

In [133]:
L5[2][1]

'the'

In [134]:
print("element of index 0 is: ",L5[-1])

element of index 0 is:  ['on', 'the', 'wall']

In [135]:
L5[-1][-1]

'wall'

In [136]:
L5[-3]

99

In [137]:
L5[1][3]

't'

In [138]:
L5[1][-3]

'e'

In [139]:
L5[len(L5)-1]

['on', 'the', 'wall']

In [140]:
L6=[1,2,3,4,5]
L6

[1, 2, 3, 4, 5]

In [141]:
L6[1:2]

[2]

In [142]:
L6[1:3]

[2, 3]

In [143]:
L6[1:]

[2, 3, 4, 5]

In [144]:
L6[:1]

[1]

In [ ]:
L6[:-1]

In [145]:
for i in [0,1,2,3]:
    print(i)

0
1
2
3

In [146]:
for i in [100,1,2,3]:
    print(i)

100
1
2
3

In [147]:
for i in ["huawei",3,"nti"]:
    print(i)

huawei
3
nti

In [148]:
x=[range(10)]
x

[range(0, 10)]

#### List Built In Functions

In [149]:
names = ["omar", "youssef", "omar", "khaled", "ahmed"]

In [150]:
names.sort()
names

['ahmed', 'khaled', 'omar', 'omar', 'youssef']

In [151]:
set= {"omar", "youssef", "omar", "khaled", "ahmed"}
set

{'ahmed', 'khaled', 'omar', 'youssef'}

In [153]:
names = ["omar", "youssef", "omar", "khaled", "ahmed"]
names.reverse()
names

['ahmed', 'khaled', 'omar', 'youssef', 'omar']

In [154]:
students=["omar", "tamer","Ali","Ahmed", "Ali","Ayamn"]

In [155]:
students.append("Khaled")
students

['omar', 'tamer', 'Ali', 'Ahmed', 'Ali', 'Ayamn', 'Khaled']

In [158]:
students.insert(1,"Ali")
students

['omar', 'Ali', 'tamer', 'Ali', 'Ahmed', 'Ali', 'Ayamn', 'Khaled']

In [160]:
x=[1,2,3]
y=[4,5]

In [161]:
x.append(y)
x

[1, 2, 3, [4, 5]]

In [164]:
x=[1,2,3]
y=[4,5]

In [165]:
x

[1, 2, 3]

In [166]:
y

[4, 5]

In [167]:
x.extend(y)
x

[1, 2, 3, 4, 5]

In [168]:
x+y

[1, 2, 3, 4, 5, 4, 5]

In [169]:
x=[1,2,3]
y=[4,5]

In [170]:
for i in y:
    x.append(i)
print(x)

[1, 2, 3, 4, 5]

In [171]:
x=[1,2,3]
x.insert(0,40)
x

[40, 1, 2, 3]

In [172]:
x.pop()
x

[40, 1, 2]

In [173]:
x.pop(1)
x

[40, 2]

In [176]:
x.pop()
x

IndexError: pop from empty list

In [177]:
x=[1,2,3]

In [182]:
def isempty(list):
    if len(x)==0 : return True
    else: return False

In [183]:
isempty(x)

False

In [185]:
x.remove(1)
x

[2, 3]

In [186]:
students.reverse()
students

['Khaled', 'Ayamn', 'Ali', 'Ahmed', 'Ali', 'tamer', 'Ali', 'omar']

In [187]:
names=["omar","Ali","mahmoud"]

In [188]:
names.clear()
names

[]

In [190]:
del(names)

In [191]:
del names

NameError: name 'names' is not defined

In [193]:
x=[1,2,3,4]
y1=x[:]
y1

[1, 2, 3, 4]

In [194]:
x

[1, 2, 3, 4]

In [197]:
y1 is x

False

In [198]:
print("y1 is :",y1)
y1[-1]=100
print("y1 is :",y1)
print("x is :",x)

y1 is : [1, 2, 3, 4]
y1 is : [1, 2, 3, 100]
x is : [1, 2, 3, 4]

In [201]:
x=[1,2,3,4]
y=x

In [202]:
x

[1, 2, 3, 4]

In [203]:
y

[1, 2, 3, 4]

In [204]:
y is x

True

In [205]:
x[-1]=60

In [206]:
y

[1, 2, 3, 60]

In [207]:
x

[1, 2, 3, 60]

In [208]:
x=[1,2,3,4]
y1=x[:]

In [209]:
x

[1, 2, 3, 4]

In [210]:
y1

[1, 2, 3, 4]

In [211]:
x[-1]=55

In [212]:
x

[1, 2, 3, 55]

In [214]:
y1

[1, 2, 3, 4]

In [215]:
print("y is :",y)
y[-1]=100
print("y is :",y)
print("x is :",x)

y is : [1, 2, 3, 60]
y is : [1, 2, 3, 100]
x is : [1, 2, 3, 55]

In [216]:
x=[1,2,3,4]
y2=list(x)
y2

[1, 2, 3, 4]

In [217]:
x is y2

False

In [229]:
import copy
x=[1,2,3,4]

In [230]:
y3=copy.copy(x)
y3

[1, 2, 3, 4]

In [231]:
y3 is x

False

In [232]:
y4=x.copy()

In [233]:
x

[1, 2, 3, 4]

In [235]:
y4

[1, 2, 3, 4]

In [236]:
x is y4

False

In [237]:
x[-1]=99

In [238]:
x

[1, 2, 3, 99]

In [240]:
y4

[1, 2, 3, 4]

In [242]:
x=[1,2,3,4]
y4=copy.deepcopy(x)
y4

[1, 2, 3, 4]

In [243]:
x is y4

False

In [245]:
y=copy.copy(x)
y[-1]=7
print("x is ",x)
print("y is ",y)

x is  [1, 2, 3, 4]
y is  [1, 2, 3, 7]

In [248]:
x=[1,2,3,4,5]
y=copy.deepcopy(x)
y[-1]=7
print("x is ",x)
print("y is ",y)

x is  [1, 2, 3, 4, 5]
y is  [1, 2, 3, 4, 7]

In [ ]:
x=[2,3,4,5]
print("max of x:",max(x))
print("min of x:",min(x))

In [ ]:
x=[1,2,3,4]
type(x)

In [ ]:
x[-1]=100
x

### Shorthand / compresssed list

In [249]:
x=[range(10)]
x

[range(0, 10)]

In [250]:
x=[i for i in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [251]:
x=["Ahmed", "Ali", "Alaa","Mahmoud","Omar","youssef"]
newlist = [ i for i in x if "o".upper() in i.upper() ]
newlist

['Mahmoud', 'Omar', 'youssef']

In [252]:
x=[i for i in range(4,10,2)]
x

[4, 6, 8]

In [253]:
x=[i*i for i in range(4,10,2)]
x

[16, 36, 64]

In [257]:
x=[i*j for i,j in [(2,9),(6,8),(8,8),(6,7)]]
x

[18, 48, 64, 42]

In [259]:
students

['Khaled', 'Ayamn', 'Ali', 'Ahmed', 'Ali', 'tamer', 'Ali', 'omar']

In [260]:
#compressed list
def get_names(names, letter):
    containing = [x for x in names if letter.upper() in x.upper()]
    return containing
get_names(students,"A")

['Khaled', 'Ayamn', 'Ali', 'Ahmed', 'Ali', 'tamer', 'Ali', 'omar']

In [263]:
data=[("Nancy","Engineer",37),("Ahmed","CEO",40),("Farida","hr",27),("Rayan","Accountant",24)]
name=[ [x,y] for x,y,z in data]
name

[['Nancy', 'Engineer'],
 ['Ahmed', 'CEO'],
 ['Farida', 'hr'],
 ['Rayan', 'Accountant']]

#### Tuples

In [264]:
x=(1,2,3,4)
type(x)

tuple

In [265]:
x=(1,)
type(x)

tuple

In [266]:
x=(1,2,3,4)
x[:-1]

(1, 2, 3)

In [267]:
x[-1]

4

In [268]:
x[1:3]

(2, 3)

In [269]:
x=(1,2,3,4,[6])
x

(1, 2, 3, 4, [6])

In [270]:
type(x)

tuple

In [271]:
x[-1][0]=100
x

(1, 2, 3, 4, [100])

In [272]:
x[-1].extend([200,300])
x

(1, 2, 3, 4, [100, 200, 300])

In [273]:
#Convert tupe to list and performing operations
a = ("apple", "banana", "cherry")
y = __builtins__.list(a)
y[1] = "kiwi"
y

['apple', 'kiwi', 'cherry']

In [274]:
x = tuple(y)

In [275]:
x={"Ali","Ali","omar"}

#### Dictionaries

In [276]:
d1={"name":"ahmed","age":27, "Address":"benha"}
d1

{'name': 'ahmed', 'age': 27, 'Address': 'benha'}

In [277]:
d1["name"]

'ahmed'

In [279]:
d1={1:"ahmed",1.5:27}
d1

{1: 'ahmed', 1.5: 27}

In [280]:
d1[1.5]

27

In [281]:
type(d1)

dict

In [282]:
d1.keys()

dict_keys([1, 1.5])

In [283]:
d1.values()

dict_values(['ahmed', 27])

In [284]:
d1.items()

dict_items([(1, 'ahmed'), (1.5, 27)])

In [285]:
#first method
d1={'one':1,'two':2,'three':3}
d1

{'one': 1, 'two': 2, 'three': 3}

In [286]:
d1={'one':[1,2,"ahmed"],'two':2,'three':3}
d1

{'one': [1, 2, 'ahmed'], 'two': 2, 'three': 3}

In [287]:
d1.keys()

dict_keys(['one', 'two', 'three'])

In [288]:
d1["one"]

[1, 2, 'ahmed']

In [290]:
#second method
d2=dict(one=1,two=2,three=3)
d2

{'one': 1, 'two': 2, 'three': 3}

In [291]:
d2=dict(one=[1,2,"ahmed"],two=2,three=3)
d2

{'one': [1, 2, 'ahmed'], 'two': 2, 'three': 3}

In [292]:
#third method
d3=dict([('one',1),('two',2),('three',3)])
d3

{'one': 1, 'two': 2, 'three': 3}

In [294]:
d=zip(['one','two','three'],[1,2,3])

In [296]:
list(d)

[('one', 1), ('two', 2), ('three', 3)]

In [301]:
#fourth method
d4=dict(zip(['one','two','three'],[1,2,3]))
d4

{'one': 1, 'two': 2, 'three': 3}

In [302]:
#fifth method
d5=dict({'one':1,'two':2,'three':3})
d5

{'one': 1, 'two': 2, 'three': 3}

In [303]:
print(d3==d4==d5)

True

In [306]:
students={"names":["ali","Mostafa"]  , "emails":["Ali@yahoo.com","Mostafa@yahoo"],"Adresses":["cairo","Alex"]}
students

{'names': ['ali', 'Mostafa'],
 'emails': ['Ali@yahoo.com', 'Mostafa@yahoo'],
 'Adresses': ['cairo', 'Alex']}

In [307]:
students.update({"names":["ali"]})
students

{'names': ['ali'],
 'emails': ['Ali@yahoo.com', 'Mostafa@yahoo'],
 'Adresses': ['cairo', 'Alex']}

In [308]:
data=[("Nancy","Engineer",37),("Ahmed","CEO",40),("Farida","hr",27),("Rayan","Accountant",24)]
Employee={name:job for name,job,Age in data } 
Employee

{'Nancy': 'Engineer', 'Ahmed': 'CEO', 'Farida': 'hr', 'Rayan': 'Accountant'}

In [309]:
print (Employee["Nancy"])

Engineer

In [310]:
print (Employee.get("Nancy"))

Engineer

In [311]:
print (Employee.get("Nanc"))

None

In [312]:
print (Employee.get("Nanc","Not in my Staff"))

Not in my Staff

In [313]:
print (Employee.get("Nancy","Not in my Staff"))

Engineer

In [314]:
import copy
emp=Employee.copy()
emp["Rayan"]="Doctor"
print("Employee as dic is ",Employee)
print("emp      as dic is ",emp)

Employee as dic is  {'Nancy': 'Engineer', 'Ahmed': 'CEO', 'Farida': 'hr', 'Rayan': 'Accountant'}
emp      as dic is  {'Nancy': 'Engineer', 'Ahmed': 'CEO', 'Farida': 'hr', 'Rayan': 'Doctor'}

In [315]:
X=Employee.copy()
X

{'Nancy': 'Engineer', 'Ahmed': 'CEO', 'Farida': 'hr', 'Rayan': 'Accountant'}

In [316]:
X["Rayan"]

'Accountant'

In [317]:
X["Rayan"]="Manager"

In [318]:
X.clear()

In [319]:
X

{}

In [320]:
del(X)

In [322]:
X

NameError: name 'X' is not defined

### Object Oriented in python

In [336]:
#Creating The Class without constructor
class student:
    name ="Ali"
    email="Ali@yahoo"
    def  name_length(self):
        return len(self.name)

In [337]:
#Creating The Object ( with no parameteres because there are no constructors)
a = student()

In [338]:
a.name

'Ali'

In [339]:
a.email

'Ali@yahoo'

In [340]:
b= student()

In [334]:
b.name

'Ali'

In [341]:
a.name_length()

3

In [335]:
b.email

'Ali@yahoo'

In [342]:
b.name_length()

3

In [343]:
#Creating The Class with constructor
class student:
    name ="Ali"
    email="Ali@yahoo"
    def __init__(self,name,email):
        self.name=name
        self.email=email
    def  name_length(self):
        return len(self.name)

In [344]:
b= student ("Ali","Ali@yahoo")

In [345]:
b.name_length()

3

In [346]:
c= student("Khaled","Khaled@yahoo.com")

In [347]:
c.email

'Khaled@yahoo.com'

In [348]:
c.name_length()

6

In [349]:
d= student("Khaled")

TypeError: __init__() missing 1 required positional argument: 'email'

In [381]:
#creating the super class / parent class
class student :
    name = "ali"
    email= "ali@yahoo.com"
    password="Ahmed1235#shdjsj"
    def __init__(self, name , email, password):
        self.name = name
        self.email = email
        self.password = password
    def  name_len(self): 
         return len(self.name) 
    def check_password(self):
        numberofalphadigits=0
        numberofnumberdigits=0
        numberofupperletters=0
        numberofspecialcharacters=0
        for i in self.password:
            if i.isalpha():  numberofalphadigits+=1
            if i.isalnum():  numberofnumberdigits+=1
            if i.isupper():  numberofupperletters+=1
            if i in "@#_$":  numberofspecialcharacters+=1
        if (len(self.password)>10 and numberofnumberdigits>3 and numberofalphadigits>7 and numberofspecialcharacters>0 and numberofupperletters>0  ): return True
        else : return False

In [382]:
a= student ("ahmed", "Ahmed@yahoo.com", "AhmedArafa@yahoo5566")

In [383]:
a.name_len()

5

In [384]:
a.check_password()

True

In [385]:
#Inheritance: creating the sub class / child class
class graduate(student):           #inheritance
    degree= 50
    def grade (self):
        if self.degree<50 : return "Fail"
        elif self.degree>=50 and self.degree<65 : return "pass"
        elif self.degree>=65 and self.degree<75 : return "good"
        elif self.degree>=75 and self.degree<85 : return "Very Good"
        else : return "Excellent"
    def __init__(self,degree,name,email,password):
        self.degree = degree
        student.__init__(self,name,email,password)  # go to the parent constructor when there are no defualt variables in the parent class

In [386]:
s = graduate(77,"Mostafa AHmed","Mostafa@yahoo","Abbsgsgsgd1223@")
s.name

'Mostafa AHmed'

In [387]:
print(s.grade())

Very Good

In [388]:
s.name_len()

13

### Time

In [389]:
import time as t
from time import sleep

In [391]:
for i in range(10):
     sleep(2)
     print(i)

0
1
2
3
4
5
6
7
8
9

In [396]:
import calendar as cal
print(cal.month(2019,2))

   February 2019
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28

In [407]:
print(cal.prcal(2025))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31
None

In [415]:
import time
# Format into 2016-03-20 11:45:39
print(time.strftime("%d / %m /%Y %H:%M:%S", time.localtime()))

20 / 09 /2024 17:32:23

In [416]:
# Record the start time
start_time = time.time()
# Perform some time-consuming operation (Sleep for example)
time.sleep(15)
# Record the end time
end_time = time.time()

# Calculate the elapsed time
elapsed_time = end_time - start_time

print("Elapsed time: {:.2f} seconds".format(elapsed_time)) # Elapsed time: 2.01 seconds

Elapsed time: 15.00 seconds